In [1]:
print('ini kelas algoritma!')

ini kelas algoritma!

In [2]:
print("ini kelas algoritma")

ini kelas algoritma

In [3]:
print("i don't understand what are you saying")

i don't understand what are you saying

In [5]:
print('i don't understand what are you saying')

SyntaxError: invalid syntax (Temp/ipykernel_832/1736511603.py, line 1)

In [6]:
print('he is such a "GENIUS"')

he is such a "GENIUS"

In [7]:
print("he is such "GENIUS"")

SyntaxError: invalid syntax (Temp/ipykernel_832/40071865.py, line 1)

In [8]:
mahasiswa = 18
uang_di_dompet =18000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

18
18000
324000

In [10]:
nama_depan = 'wayan'
nama_tengah = " "
nama_belakang = 'bongol'
print(nama_depan + nama_tengah +nama_belakang)

wayan bongol

In [18]:
# input
nama = input("siapakah nama anda?")
kegiatan = input('apakah kegiatan anda sekarang, ' + nama +" ?")
print( "semangat " + kegiatan + " nya yah," + nama + " !")

siapakah nama anda?melin
apakah kegiatan anda sekarang, melin ?belajar
semangat belajar nya yah,melin !

In [20]:
uang_di_dompet = input("berapakah uang di dompet anda? ")
uang_di_bank = input(" berapakah uang anda di bank? ")
print(" total uang anda adalah Rp " + uang_di_dompet + uang_di_bank )

berapakah uang di dompet anda? 1000000
 berapakah uang anda di bank? 2000000
 total uang anda adalah Rp 10000002000000

In [24]:
uang_di_dompet = input ("berapakah uang di dompet anda ? ")
uang_di_bank = input (" berapakah uang anda d bank ? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("total uang anda adalah Rp " + str(total_uang))

berapakah uang di dompet anda ? 100
 berapakah uang anda d bank ? 200
total uang anda adalah Rp 300

In [25]:
type(uang_di_dompet)

str

In [26]:
type(uang_di_bank)

str

In [27]:
type(total_uang)

int

In [29]:
# buat program penjumlahan dua bilangan dengan menggunakan perintah input dan print
bilangan_satu = input("masukkan bilangan pertama: ")
bilangan_kedua = input("masukkan bilangan kedua : ")
jumlah = float(bilangan_satu) + float(bilangan_kedua)
print("jumlah kedua bilangan adalah " + str(jumlah))

masukkan bilangan pertama: 9
masukkan bilangan kedua : 10
jumlah kedua bilangan adalah 19.0

In [30]:
# formatted string
nama ="made herlina"
pekerjaan ="dosen "
institusi ="universitas sintuwu maroso"
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi + '.')

made herlina adalah seorang dosen  di universitas sintuwu maroso.

In [32]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

made herlina adalah seorang dosen  di universitas sintuwu maroso.

In [35]:
# string index
kelas = 'ini kelas algoritma'
print(kelas[0:3])

ini

In [36]:
print(kelas[0:-1])

ini kelas algoritm

In [37]:
print(kelas[5:-1])

elas algoritm

In [38]:
print(kelas[2:-1:3])

ieslrm

In [39]:
print(kelas[:-3])

ini kelas algori

In [40]:
print(kelas[1:])

ni kelas algoritma

In [41]:
print(kelas[:])

ini kelas algoritma

In [48]:
# string method
judul ="bali surga dunia"
print(len(judul))

16

In [43]:
judul.upper()

'BALI SURGA DUNIA'

In [44]:
judul.lower()

'bali surga dunia'

In [45]:
judul.find("surga")

5

In [46]:
judul.find("bali")

0

In [49]:
judul.replace( "bali" , "indonesia")

'indonesia surga dunia'

In [50]:
print('bali' in judul)

True

In [51]:
print('Bali' in judul)

False

In [52]:
print(2+3)
print(2-3)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
print(2**3)
x=3
x+=1
print(x)
x-=2
print(x)
x*=3
print(x)

5
-1
6
2.3333333333333335
2
1
8
4
2
6

In [54]:
x = 3>2
print(x)
x = 2<3
print(x)
x = 3>=2
print(x)
x =2<=3
print(x)
x = 3==3
print(x)
x =3 != 4
print(x)

True
True
True
True
True
True

In [55]:
x = 2>3
print(x)
x = 3<2
print(x)
x = 2>=3
print(x)
x =3<=2
print(x)
x = 3==4
print(x)
x =3 != 3
print(x)

False
False
False
False
False
False

In [56]:
buah_mangga = 18
buah_jambu = 22
print(buah_mangga > 10 and buah_jambu < 20)

False

In [57]:
print(buah_mangga > 10 or buah_jambu <30)

True

In [8]:
# operator if
nilai = float(input("nilai anda adalah "))
if nilai >= 80:
    print("anda mendapat nilai A ")
    print("bagus sekali, selamat!")
if nilai < 80 and nilai >=70:
    print("anda mendapatkan nilai B")
    print("tingkatkan prestasimu!")
if nilai >=60 and nilai < 70:
    print("anda mendapatkan nilai C")
    print("lain kali mesti lebih baik")
if nilai >= 50 and nilai < 60:
    print("anda mendapatkan nilai D")
    print("ulang lagi tahun depan")
if nilai < 50:
    print("anda mendapat nilai E")
    print("sampai jumpa tahun depan")

nilai anda adalah 90
anda mendapat nilai A
bagus sekali, selamat!

In [9]:
nilai = float(input("nilai anda adalah "))
if nilai >= 80:
    print("anda mendapat nilai A")
    print("bagus sekali, selamat")
elif nilai >= 70:
    print("anda mendapat nilai B")
    print("tingkatkan prestasimu")
elif nilai >= 60:
    print("anda mendapat nilai C")
    print("lain kali mesti lebih baik")
elif nilai >= 50:
    print("anda mendapat nilai D")
    print("ulang lagi tahun depan")
else:
    print("anda mendapat nilai E")
    print("sampai jumpa tahun depan")

nilai anda adalah 20
anda mendapat nilai E
sampai jumpa tahun depan

In [10]:
# program merubah tinggi badan dari cm ke inci atau sebaliknya.
tinggi = float(input("brpakah tinggi anda?"))
cm_atau_inci = input("tingginya dalam cm atau inci?")

if cm_atau_inci.upper()=='CM':
    tinggi = tinggi*0.393701
    print("tinggi anda adalah " + str(tinggi) + "inci")
elif cm_atau_inci.upper()=='INCI':
    tinggi = tinggi/0.393701
    print(f"tinggi anda adalah {tinggi} cm")

brpakah tinggi anda?160
tingginya dalam cm atau inci?inci
tinggi anda adalah 406.39978054411847 cm

In [11]:
# while loop
a = 0
while a < 5:
    print("angka " + str(a) + " masih dibawah 5")
    a += 1
    
a = 0
while a < 5:
    print(a * '*')
    a+=1

angka 0 masih dibawah 5
angka 1 masih dibawah 5
angka 2 masih dibawah 5
angka 3 masih dibawah 5
angka 4 masih dibawah 5

*
**
***
****